framework: net47
source https://www.nuget.org/api/v2

nuget Serilog 1.5.14
nuget Serilog.Exceptions
nuget Microsoft.Web.Infrastructure
nuget NanoIoC ~> 2.0.0
nuget MuonLab.Validation ~> 1.3
nuget NUnit 2.6.4
nuget YUICompressor.NET 2.3.0.0
nuget DotNetZip 1.9
nuget dotless 1.5.1
nuget Newtonsoft.Json ~> 9.0
nuget NSubstitute 3.1
nuget FluentAssertions
nuget Microsoft.AspNet.Razor ~> 3.2
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform 1.0.8 import_targets: false

group BuildTools
source https://www.nuget.org/api/v2

nuget NUnit.Runners.Net4 2.6.4