framework: auto-detect
source https://www.nuget.org/api/v2

nuget libsassnetstandard import_targets: true
nuget Microsoft.AspNetCore.WebUtilities 2.2.0
nuget Microsoft.Net.Http.Headers 2.2.8
nuget Nuglify ~> 1.6
nuget Serilog ~> 3.0
nuget Serilog.Exceptions
nuget NanoIoC ~> 2.0
nuget MuonLab.Validation ~> 2.0
nuget YUICompressor.NET ~> 3.0
nuget React.Core
nuget SourceMapToolkit
nuget JavascriptEngineSwitcher.Msie
nuget dotless.Core ~> 1.0
nuget Newtonsoft.Json ~> 13.0
nuget NSubstitute ~> 3.0
nuget Microsoft.AspNetCore.Razor ~> 2.0
nuget Microsoft.AspNetCore.Razor.Language ~> 2.0
nuget Microsoft.AspNetCore.Razor.Runtime ~> 2.0
nuget Microsoft.AspNetCore.Http ~> 2.0
nuget Microsoft.AspNetCore.Html.Abstractions ~> 2.0
nuget Microsoft.AspNetCore.Diagnostics ~> 2.0
nuget Microsoft.CodeAnalysis
nuget Microsoft.CodeAnalysis.Razor
nuget Microsoft.AspNetCore.Mvc.Razor.Extensions
nuget Microsoft.CSharp
nuget System.Reflection.Metadata
nuget System.Buffers

nuget xunit
nuget xunit.runner.visualstudio
nuget Microsoft.NET.Test.Sdk