@inherits MustardBlack.ViewEngines.Razor.RazorViewPage
@{ Layout = "~/Areas/Example/Example/layout.cshtml"; }
@using MustardBlack.Example
@addTagHelper *, MustardBlack.Example

<h1>Hello world</h1>

@section potato {
	<p>I'm inside sectiontest</p>
}

<script csp-sha>
	console.log('hi');
</script>

@{
    // is Linq automatically imported?
	Enumerable.Range(0, 1);

    var c = new System.Net.Cookie();
}
