@inherits MustardBlack.ViewEngines.Razor.RazorViewPage
@{ Layout = "~/Areas/Example/Example/layout.cshtml"; }
@using MustardBlack.Example
@using MustardBlack.ViewEngines
@addTagHelper *, MustardBlack.Example

<h1>Hello world</h1>

@section potato {
	<p>I'm inside sectiontest</p>
}

<script csp-sha>
	console.log('hi');
</script>

@Html.Raw("<h2>I'm an H2</h2>")

@("<b>encode me</b>")

@Html.RenderView("~/Areas/Example/Example/partial.cshtml")

@{
    // is Linq automatically imported?
	Enumerable.Range(0, 1);

    var c = new System.Net.Cookie();
}
