@inherits MustardBlack.ViewEngines.Razor.RazorViewPage
@{ Layout = "~/Areas/Example/Example/layout.cshtml"; }
<h1>Hello world</h1>

@section potato {
	<p>I'm inside sectiontest</p>
}

<p>test</p>