@inherits MustardBlack.ViewEngines.Razor.RazorViewPage
@{ Layout = "~/Areas/Example/Example/layout-parent.cshtml"; }

@section Test { @RenderSection("Test") }

@RenderBody()

@section Head {
	@RenderSection("Head")
}

<section>
	@RenderSection("sectionTest")
</section>