@inherits MustardBlack.ViewEngines.Razor.RazorViewPage
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title></title>
	<link rel="stylesheet" href="/example.css" type="text/css" />
	<script src="/example.js"></script>
	@RenderSection("Head")
</head>
<body>
@RenderSection("Test")
@RenderBody()
</body>
</html>